@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.navbar {
    display: flex;
    position: fixed;
    background-color: rgb(2, 107, 219);
    height: 50px;
    width: 100%;
    z-index: 1;
}

.navbar .logo {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-size: 1.5rem;
    margin: 0px 8%;
    color: white;
}

.navbar .search {
    display: flex;
    align-items: center;
    padding: 0px 20px;

}
.navbar .search span{
    display: inline-flex;
    align-items: center;
    position: relative;
}
.navbar .search input {
    width: 500px;
    height: 30px;
    border-radius: 4px;
    text-align: center;
    color: silver;
    background-color: white;
   
}
.navbar .search img{
    width: 25px;
    height: 25px;
  z-index: 2;
  position: absolute;
  right: 10px;
  cursor: pointer;
}
.navitem {
    display: flex;
    position: absolute;
    right: 0;
    top: 15px;
    padding-right: 30px;
}

.navitem ul {
    display: flex;
    gap: 20px;



}

.navitem ul li {
    display: flex;
    list-style: none;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    padding: 0px 20px;

}

.navitem ul li:hover {
   cursor: pointer;
color: aliceblue;
transform: scaleY(1.1);
}

.container {
    width: 100%;
    height: 100%;

}

.menu_bar {
    background-color: white;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    padding-top: 5%;
    padding-bottom: 10px;
}

.menu_bar span {
    display: flex;
    flex-direction: column;
cursor: pointer;
}

.menu_bar span img {
    width: 70px;

}

.menu_bar span p {
    padding: 5px 0px;
    text-align: center;
}

.ad {
    width: auto;
    height: 400px;
    padding: 0px 2%;
    animation: slide 10s infinite ease-in;
    background-size: 100% 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}

@keyframes slide {
    0% {
        background-image: url("ad_marquee/female_shopping_from_phone_04.jpg");
    }

    50% {
        background-image: url("ad_marquee/5865.jpg");
    }

    100% {
        background-image: url("ad_marquee/2741840.jpg");
    }
}
.box{
    display: flex;
    margin:8px 0px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

}
.header_tags{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 400px;
   border-right: 1px solid rgba(192, 192, 192, 0.315);
   background-color: rgb(255, 255, 255);
   border-bottom: 1px solid rgba(192, 192, 192, 0.315);
}
.header_tags p{
text-align: center;
font-size: 2.4rem;
padding-bottom: 10px;

}
.header_tags div{
   color: white;
   background-color: darkblue;
   width: 80px;
   padding:2px 15px;
   margin:0px 90px;
cursor: pointer;
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
   
}
.product_list{
    display: flex;
    gap:9px;
}
.product_list span{
display: flex;
flex-direction: column;
width:300px;
height: 400px;

align-items: center;
justify-content: center;
}
.product_list span img{
width: 250px;
height:200px;
padding-left: 30px;


}
.product_list span img:hover{
    transform: scaleY(1.1);
    cursor: pointer;
}
.product_list span p{
margin:15px 0px;
text-align: center;
}
.product_list span h3{
    margin:5px 0px;
    color: rgb(0, 174, 0);
    text-align: center;
}
footer{
   background-color: rgb(18, 36, 69); 
}
.footerbar {
    width: 100%;
    height: auto;
    display: block;
 
}

.footerbar p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1% 1%;
    color: aliceblue;
}

.footerbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
    padding: 1% 1%;
}

.footerbar ul li {
    list-style: none;
    font-size: 1rem;
    color: white;
cursor: pointer;
}